################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/*/.vs/*
/*/obj
/Day2/bin/Debug/net6.0
/Day3/bin/Debug/net6.0
/Day4/bin/Debug/net6.0
/Core/bin/Debug/net6.0
/Infrastructure/bin/Debug/net6.0
/PredatorPreySim/bin/Debug/net6.0
