################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/*/.vs/*
/*/obj
/Day2/bin/Debug/net6.0
